@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.LogItem.running {
  background: #B9F6CA;
}

.LogItemHeader, .LogItemHeader {
  display: flex;
  align-items: center;
}

.LogItemHeader *:nth-child(1), .LogItemHeader *:nth-child(1){
  flex: 1;
}

.LogItemHeader h3 {
  margin-top: 0;
}

.mui-btn .material-icons {
  vertical-align: middle;
}